:root{
   --pixel-Font: 'Press Start 2P' ;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
}
#calculator{
    height: 400px;
    width: 300px;
    background-color: pink;
    display: flex;
    flex-direction: column;
}
#calculator #Screen{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px;
    height: 70px;
    background-color: black;
    font-family: var(--pixel-Font);
    font-size: 32px;
    color: white;
}
#calculator .buttons{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
#calculator .rowButtons{
    display: flex;
    gap: 10px;
    height: calc(100%/4);
    flex: 1;
}
#calculator .rowButtons .button{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 4);
}
.button button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;   
}
.button .operator button{
    background-color: purple;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}